Source: calicoctl
Maintainer: Exoscale <ops@exoscale.com>
Build-Depends: debhelper (>= 9),
               wget, ca-certificates, lsb-release,
               dh-systemd,
               zip

Package: calicoctl
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Calico CLI tool
