Source: calicoctl
Maintainer: Exoscale <ops@exoscale.com>
Build-Depends: debhelper (>= 10),
               wget, ca-certificates, lsb-release,
               zip

Package: calicoctl
Architecture: any
Description: Calico CLI tool
