#!/usr/bin/make -f

DISTRIBUTION = $(shell lsb_release -sc)
VERSION = 3.15.2
PACKAGEVERSION = $(VERSION)-0~$(DISTRIBUTION)0
URL = https://github.com/projectcalico/calicoctl/releases/download/v$(VERSION)/calicoctl-linux-amd64


%:
	dh $@

override_dh_auto_build:
	wget -N --progress=dot:mega $(URL) -O calicoctl
	chmod +x calico*

override_dh_link:

override_dh_gencontrol:
	dh_gencontrol -- -v$(PACKAGEVERSION)

override_dh_strip_nondeterminism:
