#!/usr/bin/make -f

# Versioning
include /usr/share/dpkg/pkg-info.mk
export OS_CODENAME := $(shell lsb_release -sc)
export EXOSCALE_VERSION := $(DEB_VERSION)~$(OS_CODENAME)

# Source
BIN_VERSION = $(DEB_VERSION_UPSTREAM)
URL = https://github.com/projectcalico/calicoctl/releases/download/v$(BIN_VERSION)/calicoctl-linux-amd64


%:
	dh $@

override_dh_auto_build:
	wget -N --progress=dot:mega $(URL) -O calicoctl
	chmod +x calico*

override_dh_link:

override_dh_gencontrol:
	dh_gencontrol -- -v$(EXOSCALE_VERSION)

override_dh_strip_nondeterminism:
